@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Coiny&family=Passero+One&family=Zen+Antique&display=swap');

/* ===Restoran-Ramen=== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Zen Antique', serif; /* Menggunakan Zen Antique sebagai font utama sesuai permintaan */
}


#ramen-latar

html {
       scroll-behavior: smooth;
}

#ramen-latar {
    background-image: linear-gradient(to bottom, #fd9948, #ae5821, #fd9948, #ac3e1c);
    padding-top: 50px; 
    padding-bottom: 50px;
    min-height: 100vh;
    scroll-padding-top: 80px;
}

#background-resto {
    background-image: url("image/latar-kayu-putih.png");
    background-size: auto; /* tinggi menyesuaikan konten */
    background-repeat: no-repeat;
    max-width: 990px;
    max-height: 2500px;
    margin: 0 auto;
    position: relative; /* Penting untuk positioning elemen anak */
    padding-bottom: 0px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    z-index: 0;
}

/* keyframes */
@keyframes pulse {
    0% {transform: scale(1);
    }
    50% {transform: scale(1.03);
    }
    100% {transform: scale(1);
    }
}

@keyframes subtitle-glow {
    from {
    text-shadow: 0 0 10px #ffffff, 0 0 20px #fff, 0 0 30px #ffde8c, 0 0 40px #ffde8c, 0 0 50px #ffde8c, 0 0 60px #ffde8c, 0 0 70px #ffde8c;
    }

    to {
    text-shadow: 0 0 20px #fff, 0 0 30px #853000, 0 0 40px #ffa220, 0 0 50px #ffa220, 0 0 60px #ffa220, 0 0 70px #ffa220, 0 0 80px #ffa220;
  }
}

@keyframes subtitle-glow-2 {
    from {
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ff6730, 0 0 40px #ff6730, 0 0 50px #ff6730, 0 0 60px #ff6730, 0 0 70px #ff6730;
    }

    to {
    text-shadow: 0 0 20px #ffd1c0, 0 0 30px #e94d15, 0 0 40px #ff4400, 0 0 50px #ff4400, 0 0 60px #ff4400, 0 0 70px #ff4400, 0 0 80px #ff4400;
  }
}

@keyframes subtitle-glow-3 {
    from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #f8b633, 0 0 40px #f8b633, 0 0 50px #f8b633, 0 0 60px #f8b633, 0 0 70px #f8b633;
    }

    to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ffaa00, 0 0 40px #d58e00, 0 0 50px #d58e00, 0 0 60px #d58e00, 0 0 70px #d58e00, 0 0 80px #d58e00;
  }
}
    

/* banner.jpg*/
.banner-section {
    width: 100%;
    padding-top: 38px;
}

.banner-img {
    width: 100%;
    display: block;
    margin-top: 0px;
    z-index: 2;
}

/* Konten utama */
.main-content {
    position: relative;
    padding: 0 20px;
}

/* h1 >3つスペシャルメニューはこちら！< */
.header-ramen h1 {
    font-size: 40px;
    color: #ae4b11;
    font-family: "Zen Antique", serif;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    text-shadow: 0px 3px 3px #e6aa88; 
    line-height: 1.2;
}

.menu-buttons {
    width: 80%;
    margin: 0 auto 50px auto;
    display: flex;
    gap: 50px; /* Jarak antar tombol */
    justify-content: center;
    align-items: center;
}

.menu-buttons img {
    width: 100%; 
    max-width: 100%;
    cursor: pointer;
    transition: transform 0.2s;
    margin-top: -20px;
    height: auto;
}
.menu-buttons img:hover {
    transform: scale(1.05);
}

/* Menu Ramen */

.menu-ramen-1 {
    position: relative;
    margin-bottom: 130px; 
}
.menu-ramen-2 {
    margin-top: -80px; 
    position: relative;
    margin-bottom: 130px; 
}

.menu-ramen-3 {
    margin-top: -80px; 
    position: relative;
    margin-bottom: 130px; 
}

/* Ramen Image */
.ramen-image-wrap-1 {
    width: 43.5%; 
    margin: 0;
    position: absolute;
    top: -20px; 
    left: -6px; 
    z-index: 10;
    transition: transform 0.2s;
}

.ramen-image-wrap-1:hover {
    transform: scale(1.05);
}

.ramen-image-wrap-2 {
    width: 43.5%; 
    margin: 0;
    position: absolute;
    top: -20px; 
    right: -8px; 
    z-index: 10;
    transition: transform 0.2s;
}

.ramen-image-wrap-2:hover {
    transform: scale(1.05);
}

.ramen-image-wrap-3 {
    width: 43.5%;
    margin: 0;
    position: absolute;
    top: -20px; 
    left: 19px; 
    z-index: 10;
    transition: transform 0.2s;
}

.ramen-image-wrap-3:hover {
    transform: scale(1.05);
}

.ramen-img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 0;
    box-shadow: none;
}

/* Orange Board + Wood Board */
.ramen-content-board {
    width: 65%;
    position: relative;
    transform: none;
    top: 0;
    margin-left: 30%; 
    z-index: 5;
}

.menu-ramen-reverse .ramen-image-wrap {
    left: auto; 
    right: 2%; 
}

.menu-ramen-reverse .ramen-content-board {
    margin-left: 0; 
    margin-right: 30%; 
}


/* Shape Oranye */
.orange-board {
    position: relative;
    text-align: left; 
    z-index: 7;
}

/* Wood Board */
.wood-board-1 {
    width: 125%;
    position: relative;
    margin-top: -10px; /* Agar dempet dengan orange-board */
    z-index: 6;
    right: 86px;
}

.wood-board-2 {
    width: 125%;
    position: relative;
    margin-top: -20px; 
    z-index: 6;
    left: -305px;
}

.wood-board-3 {
    width: 125%;
    position: relative;
    margin-top: -10px; 
    z-index: 6;
    right: 86px;
}

.board-bg-img {
    width: 100%;
    height: auto;
    display: block;
}

.ramen-desk-text-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 32px 40px 20px 250px; 
    text-align: left; 
    color: #7d2d00; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; /* Konten diratakan ke kiri */
    gap: 10px;
}

.ramen-desk-text-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 43px 245px 20px 40px; 
    text-align: left;
    color: #7d2d00;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
    gap: 10px;
}

.ramen-desk-text-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 32px 40px 20px 250px; 
    text-align: left; 
    color: #7d2d00; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
    gap: 10px;
}

.ramen-desk-text p {
    margin: 0;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 500;
}

.small-text-ramen-1 {
    margin-top: -55px;
    padding: 0px 40px 20px 252px;
    text-align: left;
    font-size: 12px;
}

.small-text-ramen-2 {
    margin-top: -60px;
    padding: 0px 245px 20px 40px;
    text-align: left;
    font-size: 12px;
}

.small-text-ramen-3 {
    margin-top: -60px;
    padding: 0px 40px 20px 252px;
    text-align: left;
    font-size: 12px;
}

.ramen-title-1 {
    color: #000000; 
    font-size: 35px;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left; 
    font-family: "Zen Antique";
    animation: subtitle-glow 1s ease-in-out infinite alternate;
}

.ramen-title-2 {
    color: #000000; 
    font-size: 35px;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: right; 
    font-family: "Zen Antique";
    animation: subtitle-glow-2 1s ease-in-out infinite alternate;
}

.ramen-title-3 {
    color: #000000; 
    font-size: 35px;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
    font-family: "Zen Antique";
    animation: subtitle-glow-3 1s ease-in-out infinite alternate;
}

.ramen-subtitle {
    color: #ffffff; 
    font-size: 21px;
    font-weight: 500;
    text-align: left;
}

.orange-board-1 {
    background-color: #ff9d2f;
    box-shadow: 0px 0px 15px #6f2800; /* Simulasi shadow */
    width: 115%;
    padding: 15px 40px 15px 188px;
    right: 25px;
    margin-top: 60px;
}
.board-type-1 .ramen-subtitle {
    text-shadow: 2px 2px 4px #321200;
}

.orange-board-2 {
    background-color: #e94d15;
    box-shadow: 0px 0px 15px #6f2800;
    width: 115%;
    padding: 15px 190px 20px 40px;
    left: -305px;
}
.board-type-2 .ramen-subtitle {
    text-shadow: 2px 2px 4px #321200;
    text-align: right;
}

.orange-board-3 {
    background-color: #f8b633;
    box-shadow: 0px 0px 15px rgba(111, 40, 0, 0.3); 
    width: 115%;
    padding: 15px 40px 15px 188px;
    right: 25px;
    margin-top: 130px;
}

.board-type-3 .ramen-subtitle {
    text-shadow: 2px 2px 4px #853000;
}

.button-kupon-section {
    width: 60%;
    max-width: 500px;
    margin: 0px auto 100px auto;
    text-align: center;
    animation: pulse 2s infinite ease-in-out;
}

.kupon-img {
    width: 100%;
    display: block;
    cursor: pointer;
    transition: transform 0.2s;
    margin-top: -60px;
}
.kupon-img:hover {
    transform: scale(1.05);
}

.akses-section {
    background-image: url(image/background-akses.jpg); 
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    width: 100%;
    padding-bottom:40px;
    position: relative;
    margin-top: -40px;
    height: 50%;
}

.isi-akses {
    text-align: center;
    padding: 20px;
    color: #ffffff;
}

.isi-akses h2 {
    font-size: 40px;
    text-shadow: 3px 4px 0 #6f2800;
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: 'Zen Antique', serif;
    text-align: left;
    margin-left: 20px;
}

.desk-akses {
    font-size: 20px;
    text-shadow: 2px 3px 0 #6f2800;
    margin-bottom: 8px;
    text-align: left;
    margin-left: 20px;
}

.small-text-akses {
    font-size: 16px;
    text-shadow: 1px 2px 0 #6f2800;
    text-align: left;
    margin-left: 20px;
}

@media (max-width: 768px) {
    #background-resto {
        max-width: 100%;
        padding: 0;
    }

    .banner-img {
        margin-top: 20px;
    }

    .header-ramen h1 {
        font-size: 40px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .menu-buttons {
        width: 90%;
        gap: 10px;
        margin-bottom: 30px;
    }

    .menu-ramen {
        margin-bottom: 150px;
    }

    .ramen-image-wrap {
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        width: 80%;
        margin: 0 auto;
    }

    .ramen-content-board {
        width: 90%;
        position: relative;
        margin: -50px auto 0 auto;
        left: 0;
        right: 0;
    }
    
    .wood-board {
        margin-top: 0;
    }
    
    .ramen-desk-text {
        padding: 30px 20px 10px 20px;
        font-size: 90px;
        text-align: center;
        align-items: center;
    }

    .ramen-title {
        font-size: 30px;
        text-align: center;
    }

    .ramen-subtitle {
        font-size: 19px;

    }
}